@import '../../breakpoint.scss';

.loadingpage {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    &_stars {
        &_left {            
            position: absolute;
            height: 75%;
            top: 60px;
            left: 47px;

            @include sm {
                height: 100%;
                top: 0;
                left: 0;
            }
        }

        &_right {            
            position: absolute;
            height: 75%;
            top: 60px;
            right: 47px;

            @include sm {
                height: 100%;
                top: 0;
                right: 0;
                scale: 0.7;
            }
        }
    }

    &_text {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 50%;
        display: flex;
        justify-content: space-between;
        width: calc(100% - 250px);
        height: 100%;
        align-items: center;
        transform: translate(-50%, 0px);
        font-size: 38px;

        @include sm {
            flex-direction: column;
            text-align: center;
            height: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
        }
    }

    &_btn {
        position: relative;
        bottom: 100px;
        z-index: 1;

        gap: 19px;

        &::after {
            transform: rotate(-90deg);
        }
    }
}