@import '../../breakpoint.scss';

.tree {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    @include sm {
        position: relative;
        z-index: 1;
        pointer-events: none !important;
    }

    *  {
        @include sm {
            pointer-events: none !important;
        }
    }

}