/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./app/components/loadingpage/loadingpage.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.loadingpage_loadingpage__3elta {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.loadingpage_loadingpage_stars_left__TEyHq {
  position: absolute;
  height: 75%;
  top: 60px;
  left: 47px;
}
@media (max-width: 921px) {
  .loadingpage_loadingpage_stars_left__TEyHq {
    height: 100%;
    top: 0;
    left: 0;
  }
}
.loadingpage_loadingpage_stars_right__bFl1j {
  position: absolute;
  height: 75%;
  top: 60px;
  right: 47px;
}
@media (max-width: 921px) {
  .loadingpage_loadingpage_stars_right__bFl1j {
    height: 100%;
    top: 0;
    right: 0;
    scale: 0.7;
  }
}
.loadingpage_loadingpage_text__FMPqV {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 250px);
  height: 100%;
  align-items: center;
  transform: translate(-50%, 0px);
  font-size: 38px;
}
@media (max-width: 921px) {
  .loadingpage_loadingpage_text__FMPqV {
    flex-direction: column;
    text-align: center;
    height: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
}
.loadingpage_loadingpage_btn__A6SzR {
  position: relative;
  bottom: 100px;
  z-index: 1;
  gap: 19px;
}
.loadingpage_loadingpage_btn__A6SzR::after {
  transform: rotate(-90deg);
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./app/components/xmass_tree/xmass_tree.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.xmass_tree_tree__upI1z {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./app/components/title/title.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.title_title__c_HNp {
  border-bottom: 1px solid var(--respublica-white);
  padding-bottom: 27px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 921px) {
  .title_title__c_HNp {
    flex-direction: column;
    gap: 30px;
  }
}
.title_title_text__tKX_g {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 28px;
  font-weight: 700;
  transition: all ease 0.5s;
}
.title_title_text__tKX_g::before {
  content: url("/rectangle-green.svg");
  width: 27px;
  height: 36px;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./app/components/santaclaus/santaclaus.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.santaclaus_scene__Rp2P7 {
  width: 100vw;
  height: calc(100vh - 150px);
  position: absolute;
  top: 150px;
  left: 0;
  pointer-events: none;
}
@media (max-width: 921px) {
  .santaclaus_scene__Rp2P7 {
    width: 100%;
    height: 50vh;
  }
}
.santaclaus_scene_canvas__V7o4S {
  pointer-events: none !important;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./app/components/intro/intro.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.intro_intro__IxOxP {
  display: flex;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  padding-left: var(--padding-side);
  padding-right: var(--padding-side);
}
@media (max-width: 921px) {
  .intro_intro__IxOxP {
    flex-direction: column-reverse;
    height: 100vh;
    justify-content: center;
  }
}
.intro_intro_wrapper___j1a6 {
  width: 50%;
}
@media (max-width: 921px) {
  .intro_intro_wrapper___j1a6 {
    width: 100%;
  }
}
.intro_intro_text__eiEha {
  width: 85%;
  font-size: 18px;
  font-weight: 300;
}
.intro_intro_stars__iL3Ws {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.intro_intro_stars_img__i4_4S {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.intro_intro_stars_rot__didO7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.intro_intro_stars_rot_1__8wRq2 {
  width: 77px;
  height: 77px;
  position: absolute;
  top: 140px;
  right: 28%;
  animation: intro_star-rotate__C5pqb 20s linear 0s infinite;
}
.intro_intro_stars_rot_2__0YCuV {
  width: 77px;
  height: 77px;
  position: absolute;
  bottom: 21%;
  left: 10%;
  animation: intro_star-rotate__C5pqb 20s linear 0s infinite reverse;
}
@keyframes intro_star-rotate__C5pqb {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.intro_intro_scroll__ArhsW {
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 13px;
  animation: intro_fadeIn__lb9VN 1s ease forwards;
  cursor: pointer;
}
.intro_intro_scroll_arrow__4L9qb {
  position: relative;
  width: auto;
  height: 33px;
  top: 0;
  transition: top ease 0.5s;
}
.intro_intro_scroll__ArhsW:hover .intro_intro_scroll_arrow__4L9qb {
  animation: intro_bouncing__8_Mt7 0.5s ease infinite alternate;
}
@media (max-width: 921px) {
  .intro_intro_scroll__ArhsW {
    display: none;
  }
}
@keyframes intro_fadeIn__lb9VN {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes intro_bouncing__8_Mt7 {
  from {
    top: 0px;
  }
  to {
    top: 10px;
  }
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./app/components/wedonate/wedonate.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.wedonate_wedonate__trQdO {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  padding-left: var(--padding-side);
  padding-right: var(--padding-side);
  position: relative;
  height: 100vh;
}
@media (max-width: 921px) {
  .wedonate_wedonate__trQdO {
    height: auto;
    padding-top: 70vh;
  }
}
.wedonate_wedonate_text__qIRdS {
  width: 50%;
  font-size: 18px;
  font-weight: 300;
}
@media (max-width: 921px) {
  .wedonate_wedonate_text__qIRdS {
    width: 100%;
    max-width: none;
  }
}
.wedonate_wedonate_trees__oQXfI {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.wedonate_wedonate_trees_wrapper__9Xl6F {
  width: 50%;
  max-width: 198px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wedonate_wedonate_trees_star__NiyB_ {
  position: relative;
  left: 3.5px;
  width: 36px;
  margin-bottom: 35px;
}
@media (max-width: 921px) {
  .wedonate_wedonate_trees__oQXfI {
    display: none;
  }
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./app/components/video/video.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.video_vid__tlbja {
  width: 100vw;
  height: 250vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 921px) {
  .video_vid__tlbja {
    height: 100vh;
  }
}
.video_vid_wrapper__XKdLq {
  position: relative;
  height: calc(100vh - 143px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.video_vid_wrapper_text__sRQJ5 {
  font-size: 100px;
  width: 100%;
  height: 100%;
}
.video_vid_wrapper_video__E62Bl {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0%;
  object-fit: cover;
  transform: translate(0px, -50%);
}
.video_vid_btn__WPO6V {
  position: relative;
  z-index: 1;
  background-color: var(--respublica-grey);
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: var(--padding-side);
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./app/components/merryXmass/merryXmass.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.merryXmass_xmass__oF0I6 {
  position: relative;
  background-color: var(--respublica-grey);
  width: 100vw;
  height: 100vh;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./app/components/wishes/wishes.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.wishes_wishes__IGlBo {
  position: relative;
  background-color: var(--respublica-grey);
  padding-bottom: 100px;
  padding-left: var(--padding-side);
  padding-right: var(--padding-side);
}
.wishes_wishes_description__Ds__W {
  max-width: 439px;
  margin-bottom: 50px;
}
.wishes_wishes_year__4miIe {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  font-size: 500px;
  font-weight: 700;
}
.wishes_wishes_year__4miIe img {
  width: 100%;
}
.wishes_wishes_year_left__KjigQ, .wishes_wishes_year_right__Kdeyh {
  display: flex;
}
.wishes_wishes_year_left__KjigQ {
  letter-spacing: -100px;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./app/components/audio_icon/audio.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.audio_audio__fzkSu {
  cursor: pointer;
  position: fixed;
  left: 30px;
  bottom: 30px;
  z-index: 1;
}
.audio_audio_loader__OeFNS {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.audio_audio_wave__tvc26 {
  height: 50px;
  width: 50px;
  fill: #fff;
}
.audio_audio_wave_sound__IRWXq path.audio_audio_line_10__Tu9RL {
  fill: transparent;
}
.audio_audio_wave_silence__KE7c_ path {
  animation-play-state: paused;
}
.audio_audio_wave_silence__KE7c_ path.audio_audio_line_10__Tu9RL {
  fill: #fff;
}
.audio_audio_wave__tvc26 .audio_audio_line_10__Tu9RL {
  transition: all ease 0.5s;
}
.audio_audio_line_1__ywp1E {
  animation: audio_pulse__Ay6fk 1s infinite;
  animation-delay: 0.15s;
}
.audio_audio_line_2__WK_lP {
  animation: audio_pulse__Ay6fk 1s infinite;
  animation-delay: 0.3s;
}
.audio_audio_line_3__fiV_M {
  animation: audio_pulse__Ay6fk 1s infinite;
  animation-delay: 0.45s;
}
.audio_audio_line_4__MCGA3 {
  animation: audio_pulse__Ay6fk 1s infinite;
  animation-delay: 0.6s;
}
.audio_audio_line_5__Lhhn8 {
  animation: audio_pulse__Ay6fk 1s infinite;
  animation-delay: 0.75s;
}
.audio_audio_line_6__3eLIT {
  animation: audio_pulse__Ay6fk 1s infinite;
  animation-delay: 0.9s;
}
.audio_audio_line_7__WM5QB {
  animation: audio_pulse__Ay6fk 1s infinite;
  animation-delay: 1.05s;
}
.audio_audio_line_8__mWehx {
  animation: audio_pulse__Ay6fk 1s infinite;
  animation-delay: 1.2s;
}
.audio_audio_line_9__Rli31 {
  animation: audio_pulse__Ay6fk 1s infinite;
  animation-delay: 1.35s;
}
@keyframes audio_pulse__Ay6fk {
  0% {
    transform: scaleY(1);
    transform-origin: 50% 50%;
  }
  50% {
    transform: scaleY(0.7);
    transform-origin: 50% 50%;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 50% 50%;
  }
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./app/components/footer/footer.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.footer_footer__uyyvk {
  position: relative;
}
.footer_footer_top__MlRbV {
  color: var(--respublica-grey);
  background-color: var(--respublica-footer-color);
  padding: 30px;
}
.footer_footer_bottom__yftbv {
  background-color: #555659;
  padding: 15px 30px;
}
.footer_footer_row__EboU_ {
  max-width: 1200px;
  margin: 0 auto;
}
.footer_footer_columns__B_hDm {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 921px) {
  .footer_footer_columns__B_hDm {
    flex-direction: column;
    gap: 50px;
  }
}
.footer_footer_column__K_fws {
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 921px) {
  .footer_footer_column__K_fws {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.footer_footer_column_section__Xw65k h4 {
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 400;
  color: #555659;
  margin-bottom: 28px;
}
.footer_footer_column_textblock__3bV1u p {
  color: #555659;
  font-size: 16px;
  line-height: 24px;
  -webkit-margin-before: 16px;
          margin-block-start: 16px;
  -webkit-margin-after: 16px;
          margin-block-end: 16px;
}
.footer_footer_column_textblock__3bV1u b {
  color: #555659;
  font-weight: 700;
}
.footer_footer_column_social_icon__9Zu8j {
  font-size: 22px;
  margin: 10px;
}
.footer_footer_column_social_icon__9Zu8j svg {
  fill: #555659;
}
.footer_footer_copyright__AYbQb {
  font-size: 14px;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./app/components/header/header.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.header_header__arkog {
  position: absolute;
  top: 0;
  padding-top: 57px;
  padding-left: var(--padding-side);
  z-index: 2;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./app/components/headerInit/headerInit.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.headerInit_header__OjGpW {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 50px);
  z-index: 2;
}
.headerInit_header_img__BDdMn {
  width: 108px;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./app/page.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_main__ux7yf {
  background-color: transparent;
  position: relative;
}
