.wishes {
    position: relative;
    background-color: var(--respublica-grey);
    padding-bottom: 100px;
    padding-left: var(--padding-side);
    padding-right: var(--padding-side);

    &_description {
        max-width: 439px;
        margin-bottom: 50px;
    }

    &_year {
        position: relative;
        &_selected {
            transition: opacity linear 1s;
            width: 100%;

            &_2024 {
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        &_show {
            opacity: 1;
        }

        &_hide {
            opacity: 0;
        }

    }

}